<nav class="nav-header navbar navbar-expand-lg navbar-light bg-white py-3">
    <div class="container-fluid ">
        <h3 class="text-muted">WDEV-MVC</h3>
        <button class="navbar-toggler shadow-none border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ms-3" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Produtos</a>
                </li>
            </ul>
            <form class="search ">
                <input type="search" class="form-control shadow-none border-0 bg-light" placeholder="Buscar..."
                    aria-label="Search">
            </form>
            <span class="mr-3">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-muted " href="#">Entrar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-muted " href="#">Cadastrar</a>
                    </li>
                </ul>
            </span>
        </div>
    </div>
</nav>